.option * {
    margin: 0;
    padding: 0;
}

.option {
    text-align: center;
    width: 300px;
    padding: 10px;
    border-bottom: 1px solid gray;
}

.title__picked {
    display: flex;
    justify-content: flex-start;
}

.option__title {
    font-size: 16px;
    margin-right: 15px;
}

.option__radio {
    text-align: left;
    width: 100%;
    display: flex;
    height: 22px;
    border-bottom: 0 solid transparent;
}

.disabled {
    pointer-events: none;
    color: rgba(128, 128, 128, 0.6);
}

.option label {
    display: inline-block;
    flex-grow: 1;
    margin-left: 5px;
}

.option__radio:hover {
    height: 21px;
    border-bottom: 1px solid cornflowerblue;
    transition-duration: 500ms;
    transition-property: border;
    opacity: 1;

}