.option * {
    margin: 0;
    padding: 0;
}

.option {
    text-align: center;
    width: 300px;
    padding: 10px;
    border-bottom: 1px solid gray;
}

.title__picked {
    display: flex;
    justify-content: flex-start;
}

.option__title {
    font-size: 16px;
    margin-right: 15px;
}

.option__choices {
    text-align: left;
    width: 100%;

}

.disabled {
    pointer-events: none;
    color: rgba(128, 128, 128, 0.6);
}

label {
    display: inline-block;
    height: 22px;
}

.overflo {
    overflow: hidden;
}